{% load admin_static %}{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
		{% block extrastyle %}{% endblock %}
		{% block extrahead %}{% endblock %}
	</head>
	{% load i18n %}

	<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

		<!-- Container -->
		<div id="container">

			{% if not is_popup %}
			<!-- Header -->
			<div id="header">
				<div id="branding">
					{% block branding %}{% endblock %}
				</div>
				{% if user.is_active and user.is_staff %}
				<div id="user-tools">
					{% trans 'Welcome,' %}
					<strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
					{% block userlinks %}
					{% url 'django-admindocs-docroot' as docsroot %}
					{% if docsroot %}
					<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
					{% endif %}
					<a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
					{% endblock %}
				</div>
				{% endif %}
				{% block nav-global %}{% endblock %}
			</div>
			<!-- END Header -->
			{% block breadcrumbs %}
			<div class="breadcrumbs">
				<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
				{% if title %} &rsaquo; {{ title }}{% endif %}
			</div>
			{% endblock %}
			{% endif %}

			{% block messages %}
			{% if messages %}
			<ul class="messagelist">
				{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
					{{ message }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endblock messages %}

			<!-- Content -->
			<div id="content" class="{% block coltype %}colM{% endblock %}">
				{% block pretitle %}{% endblock %}
				{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
				{% block content %}
				{% block object-tools %}{% endblock %}
				{{ content }}
				{% endblock %}
				{% block sidebar %}{% endblock %}
				<br class="clear" />
			</div>
			<!-- END Content -->

			{% block footer %}<div id="footer"></div>
			{% endblock %}
		</div>
		<!-- END Container -->

	</body>
</html>
